<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>レオンの連絡網</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>
  <body>

      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/top">レオン連絡網</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="work.html">ログイン</a></li>
            </ul>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="work.html">Work</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    
      <!--<div class="container">
        <div class="item-form-wrapper">
          <p class="form-label">メッセージ</p>
          <form action="/update/<%=items.id%>" method="post">
            <input name="itemMessage" type="text" value="<%=items.message%>">
            <input type="submit" value="更新">
          </form>
        </div>
        <div class="container">
          <a href="/top" class="">キャンセル</a>
        </div>
      </div>-->

      <form action="/update/<%=items.id%>" method="post">
        <div class="form-container">
          <input type="text" name="itemName" placeholder="Name" value="<%=items.name%>"><br/>
          <input type="date" name="itemDay"><br/>
          <textarea type="text" name="itemMessage" placeholder="Message"><%=items.message%></textarea><br/>
          
          <button id="submit" type="submit">
            Update!!
          </button>
        </div>
      </form>

  </body>
</html>
